# never track files with these endings
*.asv
*.mat
*.gph
*.pdf
*.png
*.jpg
*.dat
*.csv
*.dta
*.txt
*.log
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.bcf
*.nav
*.run.xml
*.snm
*.db
*.tex
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.zip
*.ini
.dta
.Rdata
.pdf
.DS_Store
.stwsp
# but have those folders in the structure
!.keep
*.smcl
.Rproj.user
